# Dependências e artefatos
node_modules/
dist/
.cache/
.temp/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.runtimeconfig.json

# Sistema operacional
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Variáveis de ambiente
.env
.env.local
.env.*.local
